<mat-chip-listbox aria-label="Type selection">
  <mat-chip-option (selectionChange)="onFilterChange('adjective')"
    >adjective</mat-chip-option
  >
  <mat-chip-option (selectionChange)="onFilterChange('noum')"
    >noum</mat-chip-option
  >
  <mat-chip-option (selectionChange)="onFilterChange('idiom')"
    >idiom</mat-chip-option
  >
  <mat-chip-option (selectionChange)="onFilterChange('phrasal')"
    >phrasal</mat-chip-option
  >
  <mat-chip-option (selectionChange)="onFilterChange('verb')"
    >verb</mat-chip-option
  >
</mat-chip-listbox>
